.doc-preview-container {
    position: relative;
    display: inline-block;
}

.doc-overlay {
    display: none;
}

.doc-preview-container:hover .doc-overlay {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}